<div class="modal fade" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">@Labels.ConfirmDelete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Labels.MessageDelete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Labels.Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">@Labels.Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirmDeleteBtn').click(function () {
        if (itemId) {
            $.ajax({
                url: '@Url.Action("Delete")',
                type: 'POST',
                data: { id: itemId },
                success: function (result) {
                    location.reload();
                },
                error: function () {
                    showAlertModal('', '');
                }
            });
        }
    });
</script>