@model TLCOnline.Models.CustomerModel

@{
    ViewData["Title"] = Labels.UpdateCust;
}

<div class="container mt-3">
    <br />
    <div class="d-flex align-items-center mb-3">
        <a asp-controller="Customer" asp-action="@nameof(CustomerController.List)" class="text-decoration-none">
            <i class="bi bi-arrow-left-circle-fill h2 me-2"></i>
        </a>&emsp;&emsp;
        <h2>@Labels.UpdateCust</h2>
    </div><br />
    <form class="row g-3" id="theForm" asp-action="@nameof(CustomerController.Update)" asp-controller="Customer" autocomplete="off" method="post">
        <input type="hidden" asp-for="CustMyKad" />
        <div class="col-md-4">
            <label class="form-label">@Labels.MyKad</label>
            <input type="number" class="form-control" asp-for="CustMyKad" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Email</label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Name</label>
            <input type="text" class="form-control" asp-for="CustName">
            <span asp-validation-for="CustName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Gender</label>
            <input type="text" class="form-control" asp-for="Gender" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.PhoneNo</label>
            <input type="number" class="form-control" asp-for="PhoneNo">
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.BirthDate</label>
            <input type="date" class="form-control" asp-for="BirthDate" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.RegisterDate</label>
            <input type="text" class="form-control" asp-for="RegisterDate" readonly>
        </div>
        <div class="col-12">
            <button id="btnUpdate" class="btn btn-primary" type="submit">@Labels.Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">

        if (alertMessage) {
            showAlertModal('@ViewData["AlertMessage"]', '@ViewData["AlertTitle"]');
        }

    </script>
}