@model TLCOnline.Models.StaffModel

@{
    ViewData["Title"] = Labels.ViewStaff;

    string statusClass = Model.Status switch
    {
        "Active" => "status-completed",
        "Inactive" => "status-cancelled",
        _ => "status-default"
    };
}

<div class="container mt-3">
    <br />
    <div class="d-flex align-items-center mb-3">
        <a asp-controller="Staff" asp-action="@nameof(StaffController.List)" class="text-decoration-none">
            <i class="bi bi-arrow-left-circle-fill h2 me-2"></i>
        </a>&emsp;&emsp;
        <h2>@Labels.ViewStaff</h2>
    </div><br />
    <form class="row g-3" id="theForm" asp-action="@nameof(StaffController.StaffView)" asp-controller="Staff" autocomplete="off" method="post">
        <div class="col-md-4">
            <label class="form-label">@Labels.StaffId</label>
            <input type="text" class="form-control" asp-for="StaffId" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Position</label>
            <input type="text" class="form-control" asp-for="Position" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.MyKad</label>
            <input type="number" class="form-control" asp-for="MyKad" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Email</label>
            <input type="email" class="form-control" asp-for="Email" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Name</label>
            <input type="text" class="form-control" asp-for="StaffName" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Gender</label>
            <input type="text" class="form-control" asp-for="Gender" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.PhoneNo</label>
            <input type="number" class="form-control" asp-for="PhoneNo" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.BirthDate</label>
            <input type="date" class="form-control" asp-for="BirthDate" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.HireDate</label>
            <input type="date" class="form-control" asp-for="HireDate" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.RegisterDate</label>
            <input type="text" class="form-control" asp-for="RegisterDate" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">@Labels.Status</label>
            <input type="text" class="form-control @statusClass" asp-for="Status" readonly>
        </div>
    </form>
</div>